In [2]:


print("helloworld")

helloworld

In [7]:
a,b,c=180,120,250
a,b,c

(180, 120, 250)

In [8]:
a={10,20}
type(a)

set

In [17]:
a={10,20}
id(a)

2098556205344

In [18]:
id({10,20})

2098556206464

In [23]:
name="madhav"
age=26
phone=9515630073
email="madhavgurram441@gmail.com"
height=5.5
pancard=True
print(name)
print(age)
print(email)
print(height)
print(phone)

madhav
26
madhavgurram441@gmail.com
5.5
9515630073

In [24]:
print(name,age,height,phone,pancard)

madhav 26 5.5 9515630073 True

In [29]:
madhav=['madhav','9515630073','madhavgurram441@gmail.com','5.5']
madhav[-1]
madhav[3]
madhav[2]

'madhavgurram441@gmail.com'

In [30]:
madhav[1]

'9515630073'

In [31]:
madhav[0]

'madhav'

In [43]:
x='hail'
y='bye'
temp=x
x=y
x

'bye'

In [44]:
y

'bye'

In [1]:
x=[10,20]
y=[30,40]
c=x+y
print(c)

[10, 20, 30, 40]

In [2]:
#10. WAS to initialize a value and print the value, after print the value then reinitialize the new value to the existing variable and display the value.
a={'a':'qspiders'}
print(a['a'])
a=[10,20]
print(a)

qspiders
[10, 20]

In [3]:
#11. WAS to convert single value to multi value datatype.
a=150
print(list(str(a)))

['1', '5', '0']

In [4]:
#12. WAS to concat the two multi value data types(str,list,tuple,set,dict).
#(a)concat 2 strings
a='hello'
a+='world'
print(a)
#(b) concat list with string
b=[10,20,30]
b+='hai'
print(b)
#(c) list with tuple
c=[100,200,300]
c+=(400,500)
print(c)
#(d) tuple with list is not possible directly. indirectly it is possible i.e; by using typecasting

#(e) list with dict
e=[1,2,3]
e+={'a':4,'b':5}
print(e)
#(f) list with set
f=['a','b','c']
f+={'d','e'}
print(f)

helloworld
[10, 20, 30, 'h', 'a', 'i']
[100, 200, 300, 400, 500]
[1, 2, 3, 'a', 'b']
['a', 'b', 'c', 'd', 'e']

In [5]:
#13. WAS to check the length of the collection.
a='helloworld'
print(len(a))
b=(10,20,30)
print(len(b))

10
3

In [6]:
#14. WAS to check find out the middle value of given collection.
a=[10,20,30,40,50]
print(a[len(a)//2])
b='hello'
print(b[len(b)//2])

30
l

In [33]:
#15. WAS to concat the new string into the strarting of given string.
a='world'
a='hello'+a
print(a)

helloworld

In [7]:
#16. WAS to concat the new string into the ending of the given string.
a='hello'
a+='world'
print(a)

helloworld

In [8]:
#17. WAS to concat the new string into the middle of the given string.
a='hey r u'
a=a[0:len(a)//2]+' how'+a[len(a)//2:]
print(a)

b=[1,2,3,4,5,6]
b=b[0:len(b)//2]+[10,20]+b[len(b)//2:]
print(b)

hey how r u
[1, 2, 3, 10, 20, 4, 5, 6]

In [9]:
#18. WAS to modify the new character into the middle of the given string.
a='pyspiders'
a=a[0:len(a)//2]+'l'+a[len(a)//2+1:]
print(a)

pysplders

In [10]:
#19. WAS to modify the sequence of characters in given string.
a='pyspiders'
a=a[0:2]+'SPI'+a[5:]
print(a)

pySPIders

In [11]:
#20. WAS to replace the old character into the new character of the given string.
a='helloworld'
a=a[0:5]+'W'+a[6:]
print(a)

helloWorld

In [12]:
#21. WAS to delete the specific character in the given string.
a='pyspiders'
a=a[0:4]+a[5:]
print(a)

pyspders

In [13]:
#22. WAS to concat the new string into the specific position of the given string.
a='pyspidersders'
a=a[0:9]+' qspi'+a[9:]
print(a)

pyspiders qspiders

In [14]:
#23. WAS to delete the sequence of characters in the given string.
a='how are you'
a=a[0:4]+a[8:]
print(a)

how you

In [15]:
#24. WAS to concat the new value into the starting of the given list.
a=[30,40,50]
a[0:0]=[10,20]
print(a)

[10, 20, 30, 40, 50]

In [16]:
#25. WAS to concat the new value into the ending of the given list.
a=[10,20,'hai']
a+=['how','are','you',40]
print(a)

#(OR)

b=[10,20,'hai']
b[3:3]=['how','are','you',40]
print(b)

[10, 20, 'hai', 'how', 'are', 'you', 40]
[10, 20, 'hai', 'how', 'are', 'you', 40]

In [17]:
#26. WAS to concat the new value into the middle of the given list.
a=[10,20,'how','are','you']
a[len(a)//2:len(a)//2]=['hello']
print(a)

[10, 20, 'hello', 'how', 'are', 'you']

In [18]:
#27. WAS to concat the new value to the specific position of the given list.
a=[10,20,30,40]
a[2:2]=['a','b']
print(a)

[10, 20, 'a', 'b', 30, 40]

In [19]:
#28. WAS to modify the new values into the specific position of the given list.
a=[10,20,30,40,50]
a[2]='a'
print(a)

[10, 20, 'a', 40, 50]

In [20]:
#29. WAS to modify the new value into the starting of the given list.
a=[1,2,3,4]
a[0]=0
print(a)

[0, 2, 3, 4]

In [21]:
#30. WAS to modify new value into the ending of the given list.
a=['a','b',True,None,100]
a[-1]=False
print(a)

['a', 'b', True, None, False]

In [22]:
#31. WAS to modify the new value into the middle of the given list.
a=[1,2,'a',5,6]
a[len(a)//2]=[3,4]
print(a)

[1, 2, [3, 4], 5, 6]

In [23]:
#32. WAS to modify the first 4 position values into the given list.
a=[1,2,3,4,'e','f']
a[0:4]=['a','b','c','d']
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [24]:
#33. WAS to modify the sequence of values into a given list.
a=[1,2,3,4,5,6,7,8]
a[1::2]=['a','b','c','d']
print(a)

[1, 'a', 3, 'b', 5, 'c', 7, 'd']

In [25]:
#34. WAS to delete the values in the specific position of the given list.
a=[1, 'a', 3, 'b', 5, 'c', 7, 'd']
del a[1]
del a[3]
print(a)

[1, 3, 'b', 'c', 7, 'd']

In [26]:
#34. WAS to modify the values at specific positions in a given list by using updation.
a=[1,3,2,5,4,7,8,6,9,15]
a[2::2]=[4,16,64,81]
print(a)
#OR
b=[1,3,2,5,4,7,8,6,9,15]
b[2]=b[2]**2
b[4]=b[4]**2
b[6]=b[6]**2
b[8]=b[8]**2
print(b)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [27]:
#35. WAS to delete the new value into the ending of list.
a=[1,2,3,4,5]
del a[-1]
print(a)

[1, 2, 3, 4]

In [28]:
#36. WAS to delete the new value into the starting of list.
a=[1,2,3,4,5]
del a[0]
print(a)

[2, 3, 4, 5]

In [29]:
#37. WAS to delete the values into the middle of list.
a=[1,2,3,4,5]
del a[len(a)//2]
print(a)

[1, 2, 4, 5]

In [30]:
#38. WAS to concat the new value into starting of tuple.
a=(1,2,3,4,5,6)
a=('a','b')+a
print(a)

('a', 'b', 1, 2, 3, 4, 5, 6)

In [31]:
#39. WAS to concat the new value into middle of tuple.
a=(1,2,3,4,5,6)
a=a[0:len(a)//2]+('a','b')+a[len(a)//2:]
print(a)

(1, 2, 3, 'a', 'b', 4, 5, 6)

In [34]:
#40. WAS to concat the new value into ending of tuple.
a=(1,2,3,4,5,6)
a+=(7,8)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8)

In [35]:
#41. WAS to modify the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+('a','b')+a[4:]
print(a)

(1, 2, 'a', 'b', 5, 6)

In [36]:
#42. WAS to delete the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+a[4:]
print(a)

(1, 2, 5, 6)

In [37]:
#43. WAS to concat the new value into the set.
a={1,2,3,4,5,6}
a|={10,20,'A'}
print(a)

{1, 2, 3, 4, 5, 6, 10, 'A', 20}

In [38]:
#44. WAS to delete the specific value into the set.
a={1,2,3,4,5,6}
a=a-{4,5,6}
print(a)
#OR
a={1,2,3,4,5,6}
a-={4,5,6}
print(a)

{1, 2, 3}
{1, 2, 3}

In [39]:
#45. WAS to concat the new key and value into the given dict.
s={'name':'shahed','age':22}
s['place']='MBNR'
print(s)
#OR
s={'name':'shahed','age':22}
t={'place':'MBNR'}
s|=t
print(s)

{'name': 'shahed', 'age': 22, 'place': 'MBNR'}
{'name': 'shahed', 'age': 22, 'place': 'MBNR'}

In [40]:
#46. WAS to delete the specific key and value in the given dict.
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
del a['age']
print(a)

{'name': 'shahed', 'place': 'MBNR'}

In [41]:
#47. WAS to modify the specific value in the given dict.
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
a['name']='shaik shahed'
print(a)
#OR
a={'name': 'shahed', 'age': 22, 'place': 'MBNR'}
a|={'name':'shaik shahed'}
print(a)

{'name': 'shaik shahed', 'age': 22, 'place': 'MBNR'}
{'name': 'shaik shahed', 'age': 22, 'place': 'MBNR'}

In [42]:
#48. WAS to concat the list value and tuple value by using Type casting.
#Converting LIST to TUPLE
l=['a','b','c']
t=('d','e','f')
l=l+list(t)
print(l)
#Converting TUPLE to LIST
l=['a','b','c']
t=('d','e','f')
t=tuple(l)+t
print(t)

['a', 'b', 'c', 'd', 'e', 'f']
('a', 'b', 'c', 'd', 'e', 'f')

In [43]:
#49. WAS to concat the list and tuple value without using Type casting.
l=['a','b','c']
t=('d','e','f')
l+=t
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

In [44]:
#50. WAS to check given number is divisible by 3.
a=27
print(a%3==0)

True

In [45]:
#51. WAS to check the given number is divisble by 2 and 6.
a=24
print(a%2==0 and a%6==0)

True

In [46]:
#52. (A) WAS to extract the last digit in the given integer number(without Type casting)
a=126
print(a%10)
# (B) Extract last two digits
a=126
print(a%100)

6
26

In [47]:
#53. WAS to check the last digit is divisble by 3 from given integer number.(without type casting)
a=126
print((a%10)%3==0)

True

In [48]:
#54. WAS to check the last digit is divisible by 3 from given number(without Type casting)
a=126
print(int(str(a)[-1])%3==0)

True

In [49]:
#55. WAS to check the given number is greater than 150.
a=165
print(a>150)
#OR
a=165
['False','True'][a>150]

True

'True'

In [50]:
#56. WAS to check the given number is greater than or equal to 100.
a=165
print(a>=100)
#OR
a=165
['False','True'][a>=100]

True

'True'

In [51]:
#57. WAS to check the given number is less than 150,print the result.
a=100
print(a<150)

True

In [52]:
#58. WAS to check the given number is less than or equal to 100.
a=100
print(a<=100)

True

In [53]:
#59. WAS to check the given number is greater than 15 and less than 24.
a=20
print(a>15 and a<24)

True

In [54]:
#60.WAS to check the given number is EVEN.
a=200
print(a%2==0)

True

In [55]:
#61. WAS to check the given number is ODD.
a=201
print(a%2!=0)

True

In [56]:
#62. Write An Equation(WAE) to check perform the replication of a given string with 6.
a='abc'
a=a*6
print(a)
b=[1,2,3]
b=b*6
print(b)

abcabcabcabcabcabc
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [57]:
#63. WAE to check the given number is divisible by 3 and also the number is greater than 22.
a=27
print(a%3==0 and a>22)

True

In [58]:
#64. WAE to check perform the length of the collection is EVEN or ODD.
a='pyspiders'
print(len(a)%2==0)

False

In [59]:
#65. WAE to check perform the length of the collection less than 55 and greater than 16.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)<55 and len(a)>16)
#OR
a='abcdefghijklmnopqrstuvwxyz'
16<len(a)<55

True

True

In [60]:
#66. WAE to check perform the length of the collection is divisible by 5 and odd.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)%5==0 and len(a)%2!=0)

False

In [61]:
#67. WAE to check extract the middle position of a given collection is either str,list,tuple.
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [62]:
#68. WAE to check the given number is greater than 20 and less than 30 and it should be even.
a=26
print(20<a<30 and a%2==0)

True

In [63]:
#69. WAE to  check the given number is even and it should be less than 120.
a=100
print(a<120 and a%2==0)

True

In [64]:
#70. WAE to check the given number is even and present from 40 to 70.
a=60
print(a%2==0 and 40<a<70)

True

In [65]:
#71. WAE to check the given number is odd and should be greater than 97.
a=99
print(a%2!=0 and a>97)

True

In [66]:
#72. WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.
a=60
print(48<a<122 and a%4==0)

True

In [67]:
#73. WAE to check the given number is divisible by 3 or 5,displaying the value.
a=15
print(a%3==0 or a%5==0)

True

In [68]:
#74. WAE to check the given number is between 100 to 200 including the limit.
a=150
print(100<=a<=200)

True

In [69]:
#75. WAE to check the given number is in between 100 to 200.
a=199
print(100<a<200)

True

In [70]:
#76. WAE to check the given string last character ASCII value should be divisible by 5 or not.
a='apple'
print(ord(a[-1])%5==0)

False

In [71]:
#77. (A) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10>9 ) 
#(B) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10<9 )

False
True

In [72]:
#78. WAE to check the given number is Even or less than 25.
a=18
print(a%2==0 or a<25)

True

In [73]:
#79. WAE to check the given number is Even or greater than 25.
a=18
print(a%2==0 or a>25)

True

In [74]:
#80. WAE to check the given number is divisible by 3 or 5.
a=27
print(a%3==0 or a%5==0)

True

In [75]:
#81. WAE to check the given number is not an Even Number.
a=25
print((a)%2!=0)

True

In [77]:
#82. WAE to check the given number is not an odd Number.
a=26
print((a)%2==0)

True

In [76]:
#83. WAE to check the given number is not divisible by 3.
a=25
print((a)%3!=0)

True

In [78]:
#84. WAE to check the given number is not divisible by 3 and 5.
a=26
print(a%3!=0 and a%5!=0)

True

In [79]:
#85. WAE to check the given number is not divisible by 3 or 5.
a=26
print(a%3!=0 or a%5!=0)

True

In [80]:
#86. WAE to check the given character ASCII value is not divisible by 5.
a='h'
print(ord(a))
print(ord(a)%5!=0)

104
True

In [81]:
#87. WAE to check find out the ASCII character in a given number.
a=88
print(chr(a))

X

In [82]:
#88. WAE to find ASCII value of a given character.
a='A'
print(ord(a))

65

In [83]:
#89. WAE to check the given character is Upper case or not.
ch='A'
print(len(ch)==1 and 'A'<=ch<='Z')
#OR
ch='A'
print(len(ch)==1 and 65<=ord(ch)<=90)

True
True

In [84]:
#90. WAE to check the given character is a lower case or not.
ch='a'
print(len(ch)==1 and 'a'<=ch<='z')
#OR
ch='c'
print(len(ch)==1 and 97<=ord(ch)<=122)

True
True

In [85]:
#91. WAE to check the given character is a alphabet or not.
ch='U'
print( len(ch)==1 and 'A'<=ch<='Z' or 'a'<=ch<='z')

True

In [86]:
#92. WAE to check the given character is the ASCII Number.
ch='5'
print(len(ch)==1 and '0'<=ch<='9')

True

In [87]:
#93. WAE to check the given character is special character or not.
a='@'
print('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9')

False

In [92]:
#94)wap to check the given char is not a uppercase
ch='A'
print(not('A'<=ch<='Z' ))
ch='a'
print(not('A'<=ch<='Z' ))

False
True

In [104]:
#95)wap to check the given character should not be lowercase.
ch='a'
print(not('a'<=ch<='z'))
ch='A'
print(not('a'<=ch<='z'))

False
True

In [109]:
#96)wap to check the given character should not be the alphabet.
ch='a'
print(not('A'<=ch<='Z' or'a'<=ch<='z'))
print(not(len(ch)==1 and ('A'<=ch<='Z' or'a'<=ch<='z')))
ch='0'
print(not(len(ch)==1 and ('A'<=ch<='Z' or'a'<=ch<='z')))

False
False
True

In [112]:
#97)wap to check the given character should not be an ASCII number.
ch='a'
print(not(ord(ch)>= 48 and ord(ch)<=57))

True

In [98]:
#98)wap to check the given character should not be a special character.
ch='a'
print('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')
ch='@'
print(not(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127))

True
False

In [115]:
#99)wae to check the given character is a vowel.
ch='A'
print(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u')
ch='b'
print(ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u')
ch='u'
print(ch in "AEIOUaeiou")
ch="g"
print(ch in"AEIOUaeiou")

True
False
True
False

In [117]:
#100)wae to check the given character is a consonant.
ch="g"
print(not(ch in "AEIOUaeiou"))
ch="a"
print(not(ch in"AEIOUaeiou"))

True
False

In [5]:
#101)wae to convert Upper case to lower case
ch='A'
chr(ord(ch)+32)

'A'

In [6]:
#102)wae to convert lower case to upper case
ch='a'
chr(ord(ch)-32)

'A'

In [7]:
#103)wae to extract the precious character in the given character 
ch='B'
chr(ord(ch)-1)

'A'

In [10]:
#104)wae to extraxt the next character in the given character 
ch='B'
chr(ord(ch)+3)

'E'

In [11]:
#105)wae to chect the given character is converted to ASCII value and the value is even as well as the character should be lower case
ch='d'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch <'z'

True

In [12]:
#106)wae to chech the given character is converted to ASCII value and the value is even as well as the character should be lower case
ch='d'
len(ch)==1 and ord (ch)%2==0 and 'A'<=ch<'Z'

False

In [14]:
#107)WAE to check which the given number is converted to character is not a special symbol or not
n=57
'A'<=chr(n)<='Z'or'a'<=chr(n)<='Z'or'O'<=chr(n)<='9'

False

In [15]:
#108)wae to check the given number of the ascii character is a vowel or not
n=65
chr(n)in "aeiouAEIOU"

True

In [17]:
#109.WAS to check if the 1st and 2nd characters are sequence or not in a given string.
ch='ABCD'
ord(ch[0])+1==ord(ch[1])

True

In [18]:
#110. WAS to check if the given character ASCII value should be greater than 50 or greater than 25 or less than 112.
ch='A'
print(ord(ch)>50 or ord(ch)<112)
#OR
ch='A'
print(50<ord(ch)<112)

True
True

In [19]:
#111. WAS to given number is increased by 1.
n=56
n+=1
print(n)

57

In [20]:
#112. WAS to a given number increased by 2.
n=56
n+=2
print(n)

58

In [ ]:
#113. WAS to a given number decreased by 1.
n=56
n-=1
print(n)

In [21]:
#114. WAS to given number decreased by 3.
n=56
n-=3
print(n)

53

In [22]:
#115. WAS to check the integer number is present in the collection.
n=10
coll=[10,20,30]
print(n in coll)

True

In [23]:
#116. WAS to check petrform the addition operation on A value and B value and final value should be assigned to A.
A=50
B=60
A+=B
print(A)

110

In [24]:
#117. WAS to check given value is present in collection.
st='D'
coll='PYSPIDERS'
print(st in coll)

True

In [25]:
#118. WAE to check the given list is present in the list.
a=[1,2]
li=[1,2,[1,2],'hai',(10,20)]
print(a in li)

ch=(1,2)
coll=(10,'hai',1,2,[1,2],(1,2))
print(ch in coll)

st=10
col={10 ,'hai',(10,20),(10,'hai')}
print(st in col)

True
True
True

In [26]:
#119. WAE to check the given dict value is present in tuple.
d={'a':10}
t=(10,20,30)
print(d['a'] in t)

True

In [28]:

#120. WAE to check the given value is Integer or not.
a=15
print(type(a)==int)

True

In [29]:
#121) WAE to check the given value is string or not.
a='ABCD'
print(type(a)==str)

True

In [30]:
#122)wae to check given value is single value or not
a=b'1010'
print(type(a) in [int,float,complex,bytes,bool,type(None)])

True

In [31]:
#123)wae to check the given value should not be a single value
a=b'0101'
print(type(a) not in [int,float,complex,bytes,bool,type(None)])

False

In [32]:
#124)WAE to check the given value is multivalue or not.
a='helloworld'
print(type(a) in [str,list,tuple,set,dict])

True

In [33]:
#125. WAE to check given value is a mutable value or not.
a=[1,2]
print(type(a) in [list,set,dict])

True

In [34]:
#126. WAE to check given value is a Immutable value or not.
a=15.12
print(type(a) in [int,float,complex,bytes,bool,type(None),str,tuple])

True

In [35]:
#127. WAE to check if a given value is divisible by 6 as well as that value present in collection or not.
a=['123',36,'abc',(123),[3,4,5],98.34]
b=36
print(b%6==0 and b in a)

True

In [36]:
#128. WAE to check perform the BITWISE AND operator in given values are 15 and 19.
a=15
b=19
print(15 & 19)

3

In [37]:
#129. WAE to check perform the BITWISE OR operator in given values are 115 and 79.
a=115
b=79
print(115 | 79)

127

In [38]:
#130. WAE to check perform the BITWISE XOR operator in given values are 56 and 22.
a=56
b=22
print(56 ^ 22)

46

In [39]:
#131. WAE to check perform the BITWISE NOT  operator in given values are 15.
a=15
print(~a)
print(-(a+1))

-16
-16

In [40]:
#132. WAE to perform the BITWISE LEFT SHIFT with 32 and skipping value is 3.
m=32
n=3
print(m<<3)

256

In [41]:
#133. WAE to perform the BITWISE RIGHT SHIFT with 25 and skipping value is 2.
m=25
n=2
print(m>>2)

6

In [42]:
#134. Find out the output of the given value condition.
m=(10+20*60 and 10**3) or ({10,20} or not ([15-16]))

In [43]:
#135. WAE to check a given key is present in dict or not.
d={'a':10,'b':20,'c':30}
k= 'a'
print(k in d)
#OR
d={'a':10,'b':20,'c':30}
k= 'a'
print(k in d.keys())

True
True

In [ ]:
#136. WAE to check if a given value is present in dict or not.
d={'a':10,'b':20,'c':30}
k=10
print(k in d)
#so, upper equation is not possible for values.
d={'a':10,'b':20,'c':30}
k=10
print(k in d.values())

In [44]:
#137. WAE to check if a given key is not present in a dict or not.
d={'a':10,'b':20,'c':30}
k= 'a'
print(k not in d)
#OR
d={'a':10,'b':20,'c':30}
k= 'a'
print(k not in d.keys())

False
False

In [45]:
#138. WAE to check if a key value pair present in dict or not.
d={'a':10,'b':20,'c':30}
k=('a',10)
print(k in d.items())

True

In [46]:
#139. WAE to check if two values are pointing the same memory or not.
  #If values are present in between (-5 to 256) then it has same memory.
print(25==25) #Here both values are int type so it is showing true.
#OR
a=25
b=25
print(a is b) #Here both values are int type and has same memory s

True
True

In [47]:
#140. WAE to check both values should be integer and both the values are pointing to the same address.
a=256
b=256
print(type(a)==int and type(b)==int and a is b) #If values are present in between (-5 to 256) then it has same memory.
a=260
b=260
print(type(a)==int and type(b)==int and a is b) #Here both values

True
False

'mh'

In [ ]:
a=""